# do not add ide files
.idea/
node_modules/
package-lock.json
dist/
public/data/flight-routes.csv
public/data/flight-routes.json
public/data/flight-routes-dummy.csv
public/data/flight-routes-dummy.json