.osw-datetime-slider {
  width: 800px;
  background: rgba(57, 57, 57, 0.9);
  height: 100%;
  display: inline-block;
  pointer-events: all;
  cursor: pointer;

  .child-container {
    display: inline-block;
    position: relative;
    float: left;
    height: 100%;

    > span {
      height: 100%;
      width: 100%;
      font-size: 26px;
      &:hover {
        font-size: 36px;
      }
    }

    i {
      color: white;
    }

    &.container-left {
      width: 30px;
    }

    &.container-middle {
      width: calc(100% - 60px);
    }

    &.container-right {
      width: 30px;
    }
  }

  .axis {
    fill: gray;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    .tick {
      text {
        fill: gray;
      }
    }

    .domain {
      stroke: gray;
      stroke-width: 4px;
      stroke-linecap: round;
    }
  }

  .slider {
    .selection {
      fill: white;
      fill-opacity: 1;
      cursor: pointer;
      stroke-width: 5px;
      stroke-linecap: round;
      stroke: white;
    }

    .tooltip {
      text {
        fill: white;
        text-align: center;
        font-size: 18px;
      }
    }
  }
}