.osw-data-refresher {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: .9rem; }
  .osw-data-refresher .header {
    display: inline-block;
    width: 100%;
    height: 30px; }
    .osw-data-refresher .header > div {
      float: left;
      display: inline-block;
      height: 36px;
      vertical-align: middle;
      line-height: 36px; }
    .osw-data-refresher .header > a {
      float: right;
      display: inline-block; }
  .osw-data-refresher .body {
    padding-top: 10px;
    height: calc(100% - 40px);
    width: 100%;
    font-size: 12px; }
    .osw-data-refresher .body .last-update {
      float: right;
      text-align: right; }
