.osw-ticker {
  padding: 5px 250px 5px 250px;
  width: 100%;
  height: 100%;
  text-align: center; }
  .osw-ticker .ticker-info {
    display: inline-block;
    cursor: pointer; }
    .osw-ticker .ticker-info:hover {
      font-weight: 600; }
