@import "../_sass/variables.scss";

.osw-map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: $lightGrey;

  .mapboxgl-popup {
    .mapboxgl-popup-tip {
      color: rgba(255, 255, 255, 0.9);
    }
    .mapboxgl-popup-content {
      background: rgba(255, 255, 255, 0.9);
    }
  }

  .mapboxgl-ctrl-top-right {
    top: 100px;
  }

  .mapboxgl-ctrl-attrib {
    background-color: white;
  }

  .datetime-slider-container {
    width: 100%;
    height: 150px;
    z-index: 100;
    position: absolute;
    bottom: 40px;
    text-align: center;
  }

  .report-container {
    z-index: 100;
    position: absolute;
    width: 400px;
    height: 600px;
    background: rgba(255, 255, 255, 0.9);
    top: 225px;
    left: 20px;
  }

  .datasource-container {
    z-index: 100;
    position: absolute;
    width: 300px;
    height: 160px;
    background: rgba(255, 255, 255, 0.9);
    bottom: 150px;
    left: 20px;
    padding: 5px;
    font-size: .9rem;
    .header {
      display: inline-block;
      width:100%;
      > div {
        float: left;
        display: inline-block;
        height: 36px;
        vertical-align: middle;
        line-height: 36px;
      }
      > a {
        float:right;
        display: inline-block;
      }
    }
    .record {
      margin-top: 5px;
    }
  }

  .ticker-container {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
  }

  .data-refresher-container {
    width: 400px;
    height: 110px;
    position: absolute;
    left: 20px;
    top: 105px;
    background: rgba(255, 255, 255, 0.9);
  }

  @media screen and (max-width: $break-point-lg) {
    .report-container {
      width: 300px;
      height: 400px;
    }
    .datasource-container {
      display: none;
    }
    .ticker-container {
      display: none;
    }
  }
}