@import "./_sass/variables.scss";

.hazard-app {
  background: #fff;
  top: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  .copyright {
    color: darken($lightGrey, 30%);
  }
}
